# Exercise 02

## Time Series Analysis

- The result will be evaluated from a report in Jupiter, which must be found in a public GitHub repository.
- The project must be carried out in the groups assigned in class.
- Use clear and rigorous procedures.
- Due date: 22, 2020, 11:59 pm, through Sicua + (Upload repository link)

# 02.1 Find the values of rho for which a series becomes non-stationary. rho between 0 and 1 ([0,1]) \n",
`X(t) = Rho * X(t-1) + Er(t)`

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
sns.set()

In [ ]:
def ts(rho):
    ts = pd.Series(np.random.rand(200) - 0.5, index=pd.date_range("2020-01-01", periods=200))
    
    for i in range(1, ts.shape[0]):
        ts.iloc[i] = ts.iloc[i] + rho * ts.iloc[i-1]    
    ts.plot(figsize=(15, 5))
ts(rho=0)

In [ ]:
ts = pd.DataFrame(np.random.rand(20, 2)/2, 
                  index=pd.date_range("2020-01-01", periods=20),
                  columns=['x1', 'x2'])
ts['x2'] = [x+i/10 for i, x in enumerate(ts['x2'])]
ts.plot()

In [ ]:
ts(rho=0.5)

# 02.2 Download and explore one series from google trends

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
sns.set()

In [9]:
df = pd.read_csv('../datasets/gdpCOL.csv', skiprows=1)
df.head()

   Colombia  COL  1970  4209
0  Colombia  COL  1971  4524
1  Colombia  COL  1972  4832
2  Colombia  COL  1973  5208
3  Colombia  COL  1974  5543
4  Colombia  COL  1975  5747

In [10]:
df2 = pd.read_csv('../datasets/fatalitiesterrorismCOL.csv', skiprows=1)
df2.head()

   Colombia  COL  1970  0
0  Colombia  COL  1971  0
1  Colombia  COL  1972  1
2  Colombia  COL  1973  0
3  Colombia  COL  1974  1
4  Colombia  COL  1975  7